<div class="card offset-4 text-center" style="width: 18rem;">
  <img
    src="../../../assets/img/Foto -Willian Vargas.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">William Dario Vargas Vivas</h5>
    <p class="card-text">
      Desarrollador front
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cel: 304-521-9813</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">w_d.v.v@hotmail.es</a>
  </div>
</div>

