a{
    color: #fff;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 2px;
}

div a.only-show-on-hover {
    visibility: hidden;
}
div:hover a.only-show-on-hover  {
    visibility: visible;
}
img {
    width:100%;
    height: 28rem;
}