<div class="container">
    <div class="carousel-item active">
        <img src="https://pixabay.com/get/g22445552bb8badf41d0e9c19fe09846d7a516f8c0d3d1b4b2485dd44b2f7752a5353e1634a555e685a9ea4b42274e6e68307fcb3f5c040350ff5135fa0b31745_1280.png" alt="" class="fluid">
        <div class="only-show-on-hover carousel-caption d-md-block ">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At ad cupiditate similique nam fuga, quos perspiciatis ex est tenetur cumque dignissimos a accusamus, perferendis architecto excepturi officia! Reiciendis, ipsum quia.</p>
        <form class="d-flex form group">
            <input class="form-control mr-sm-2" type="search" [(ngModel)]="product" name="product" placeholder="Search" (click)="search(product)" aria-label="Search" autofocus>
            <button class="btn btn-info my-2 my-sm-0" type="submit" (click)="search(product)">Buscar</button> 
            <select aria-label="Default select example" name="seleccionado" [(ngModel)]="seleccionado" (click)="search(seleccionado)">
                <option [value]="item" *ngFor="let item of category">{{item}}</option>
            </select> 
        </form>
        </div>
    </div>
</div>


<div class="col-md-4 mt-2" *ngFor="let item of producto">
    <div class="card text-center">
        <div class="carousel-item active">
            <img [src]="item.largeImageURL" alt="" class="card-img-top">
            <div class="only-show-on-hover carousel-caption d-md-block ">
            <a  [href]=[] class="only-show-on-hover"> <i class="fas fa-tags"></i> {{ item.tags }}</a>
            <a [href]=[] class="only-show-on-hover"> <i class="fas fa-eye"></i> {{ item.views }}</a>
            <a [href]=[] class="only-show-on-hover"> <i class="fas fa-thumbs-up"></i> {{ item.likes }}</a>
            </div>
          </div>
    </div>
</div>
