<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand p-1" routerLink="list">
        HOLL COLSULTING
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav ms-md-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/list/info">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list/info">Contacto</a>
        </li>
      </ul>
      
    </div>
  </nav>
